/*
linear-gradient(
        rgba(125, 218, 111, 0.027),
        rgba(40, 180, 131, 0.582),
        ),
*/
/*HOME PAGE DTYLING*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */
    font-weight: 400;
    font-size: 16px; 
    color: #777;
}
.header-1 {
    background-color: #F82525;
    height: 10vh;
}
.nav{
    float: right;
}
.nav-brand{
    float: left;
    text-transform: uppercase;
    line-height: 1.5;
    margin:.5rem;
    color:#fff;
	font-style: italic;
}
.nav-brand a{
    text-decoration: none;
    color: whitesmoke;
}
.nav-brand a:hover{
    color:  #4b5320;
}

.nav li{
   
    display: inline;
    font-size:1.2rem;
    margin-right:1rem;

      }
.nav li a{
    color:#fff;
    line-height: 1.3;
    margin-left:.8rem;
    text-decoration:none;
}
.nav li a:hover{
    color:  #4b5320;
}
.banner{
    height: 55vh;
    background-image:
    url(../images/p4.jpg);
    background-size: cover;
    background-position: center;

    background-repeat: no-repeat;
	background-size: cover;
    opacity: 0.5;
	position: relative;
}
.banner-box{
    height: 100%;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.banner-box h1{
	font-size: 80px;
	color: #000;
	font-weight: 400;
    text-transform: uppercase;
    line-height: 1.9;
    margin-right: 2rem;
}
#main-section{
    border-top: 6px solid #4b5320;
	background: #F82525;
	padding: 40px
}

.header-2 h3{
	text-transform: uppercase;
	font-size: 20px;
    margin-bottom: 5px;
    color: #fff;
}

.header-underline{
	width:150px;
	border:3px solid whitesmoke;
	margin: 0 auto 20px auto;
}
.header-2 p{
	font-size: 16px;
	padding:0 30px;
	
}
.text-center{
    text-align: center;
}
.text-muted{
    color: #fff;
    font-size:3rem;
    font-weight: bold;
}
#card{
	padding-top: 2rem;
}
.cards{
    background-color:whitesmoke;
    width: 23rem;
    border-radius: 1rem;
    margin: .5rem;
    height: 60vh;
    display: inline-block;
}
.cards img{
    width: 100%;
    height: 50%;
}
.cards h3{
    margin: .2rem;
    padding: .3rem;
    font-size: 1.5rem;
    color:#4b5320
}
.cards p{
    padding-top: 1.2rem;
    font-size: 1rem;
    padding: .5em;
    color:#4b5320;
    letter-spacing: .09rem;
}

#footer{
    border-top: 6px solid whitesmoke;
	padding: 20px 40px;
	color:whitesmoke;
    background-color: #130101;
    height: 50vh;
}

#footer .footer-icons{
	font-size: 4rem;
    padding-top: 2rem;
}
#footer .footer-icons a{
	color:whitesmoke;
	text-decoration: none;
	  
}
#footer .footer-icons a:hover{
	color: #F82525;
}
#footer .copyrights{
    text-align: center;
}
#footer .copyrights h4{
	padding: 1.5rem 0;
	color: #CED0CE;
    line-height: 4em;
    font-size: 1.1rem;
}

/* SIGN UP PAAGE*/
#login-form{
     font-family: Arial, sans-serif;
    padding: 1.5rem;
    background-color: whitesmoke;
    height: auto;
    text-align: center;
    font-size: 1.4rem;
    width: 55%;
    margin: auto;
    padding: auto;
}
input[type=text], input[type=password] {
    width: 80%; 
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
   border-radius:.9rem;
}
button {
    
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 60%;
    font-size: 1.8rem;
    background-color: #F82525;
    color: white;
    padding: 12px 18px;
    border-radius:.7rem;
  }
  .login-container img{
      width:10rem;
      height: 10rem;
  }

  .login-container a{
    text-decoration: none;
    color: #F82525;
  }

/* user profile page design */
#profile-page{
   
    background: whitesmoke;
    border-radius: 8px;
}
#profile-page h1{
    text-align: center;
    padding-bottom: 0.3rem;
    border-bottom: 0.3rem solid #130101;;
}
.profile-container{
       /* padding: 3rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: row;
    justify-content: space-between;
}
.profile-container__sidebar{
    width: 20rem;
    height: 60vh;
    background-color: #22313F;
    float: left;
}
.profile-container__sidebar h4{
    text-align: center;
    padding-top: .1rem;
    color:whitesmoke;
}
.profile-container__sidebar ul > li{
    text-decoration: none;
    margin: 1.5rem;
    list-style: none;
}
.profile-container__sidebar ul > li a{
    color: whitesmoke;
    font-size: 1.2rem;
    text-decoration: none;
}

/* Main sidebar styling */
.profile-container__main--section{
    width: 80rem;
    float: right;
    background: teal;
    display: flex;
}
.profile-container__main--section .profile-panel{
    width: 12rem;
    height: 10rem;
    background: #ECEFF1;
    margin-left: 10px;
    margin-top: 1rem;
    border-radius: 5px;

}
.profile-container__main--section a{
 color:whitesmoke;
 text-decoration: none;
}
.profile-container__main--section a{
    color:whitesmoke;
    text-decoration: none;
   }
.profile-container__main--section a:active{
    color:whitesmoke;
    text-decoration: none;
}
      

.profile-panel__body{
    padding: .5rem;
    color: teal;
}
.profile-panel__body h4{
    padding: .5rem;
}
.profile-panel__body .fa{
    padding: .5rem;
    font-size:5rem;
    margin-left:2.5rem;
}

 
  